html {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0;
    background-color: linen;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    /* Firefox 3.5 - 3.6 */
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.navbar {
    margin-bottom: 50px;
    border-radius: 0;
    min-height: 35px;
}

.jumbotron {
    margin-bottom: 0;
}

footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.headerNav>li {
    border-right: 1px solid;
}

.headerNav>li>a {
    padding: 8px 20px;
    font-size: 13px;
    color: white !important;
}

.headerNav li a:hover,
.headerNav:hover .headerNav {
    background-color: black !important;
    color: white !important;
}

.panel-primary>.panel-heading {
    background-color: #5f4c4c !important;
}

.panel-primary>.panel-footer {
    background-color: #5f4c4c !important;
}

.panel-primary>.panel-footer a {
    color: white;
}

.btn-primary {
    background-color: #5f4c4c !important;
}

.active a {
    background-color: #007848 !important;
    color: white !important;
}

.classLogo {
    height: 110px;
    width: 130px;
    margin: 7px;
    text-align: right;
    float: right;
    margin-right: 0px;
}

.MANUUEngText {
    font-size: 32px;
    font-weight: bold;
}

@media (max-width: 767px) {
    .classLogo {
        margin: 0 auto;
        float: none;
    }
    .MANUUEngText {
        font-size: 23px;
        font-weight: bold;
    }
    .BtnMuntasir {
        margin: 15px 0px;
    }
    .TxtAlignXS {
        text-align: center;
    }
}

.msgimg img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}

.btn-success {
    height: 150px;
    border-radius: 5%;
    width: 200px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}